
body{	
	background: linear-gradient(rgba(93,77,61,0.50), rgba(0,128,0,0.75), rgba(93,77,61,1));	
    padding: 50px;  
}
.managefield{   
    background: white!important;  
}   
.jumbotron{
	background-color: #eaeffa;
}
.navbar{
	color:white;
	background-color: #0B6623;
	font-family:sans-serif;
}
.navbar-brand{
	color:white;
	 letter-spacing: 0.25px;
}
.dropdown{
	color:white;
	font-family:sans-serif;
}
.dropdown-menu{
	color:white;
	font-family:sans-serif;
	background-color:#5D4D3D;
} 
#lastname.fullname{
	border-color: none;
}
#firstname.fullname{
border-color: none;
}
 
.dashboardbtn:hover{ 
    transform: scale(1.05,1.05);
    background-color: #008000;
    border-top: 3px solid #5D4D3D;
    border-left: 3px solid #5D4D3D;
    border-bottom: 3px solid #5D4D3D;
    border-right: 3px solid #5D4D3D;
}
.dashboardbtn{
	background-color: #5D4D3D;
} 
.nav-item{

}
.fas.fa-info-circle {
    opacity: 0.50;                /* Opacity (Transparency) */
    color: rgba(0, 0, 0, 0.50);   /* RGBA Color (Alternative Transparency) */
    -webkit-filter: blur(0px);    /* Blur */
    -moz-filter: blur(0px);
    filter: blur(0px);
}
.fas.fa-info-circle:hover {
    transform: scale(1.20,1.20);
    opacity: 0.75;
    color: rgba(0, 0, 0, 0.50);
}
.infotext{	
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 150;
    letter-spacing: 0.35px;
    color: white;
    text-align: center;
    visibility: hidden;
    height: 35px;
    width: 200px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;;
    background-color: #000000;
    border-radius: 15px;
    padding-bottom: 8px;
    padding-right: 8px; 
    padding-left: 8px;
    padding-top: 8px;
    position: absolute;
    z-index: 101;        
    opacity: 1;
}
.fas.fa-info-circle:hover .infotext{
    visibility: visible!important;
    z-index: 100;
}

.infotext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/*
.jumbotron {
    background: url('../images/430251hd.png') no-repeat center center;
    background-size: cover;
    background-opacity: 0.2;
    font-color: #000;
    min-height: 300px;
}
.card {
    background: url('../images/43025hd.png') no-repeat center center!important;
    background-size: cover;
    background-opacity: 0.2;
    font-color: #000;

}
*/

    
